<!-- Portfolio Section
================================================== -->
<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>Check Out Some of My Work</h1>
            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-01" title="First Prototype">
                            <img alt="construction-software" src="images/Prototype.PNG">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>QuickFix</h5>
                                    <p>Mobile Vehicle Maintenance</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-02" title="construction">
                            <img alt="construction-software" src="images/SpaceGame1.PNG">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Space Game</h5>
                                    <p>C# Console Application Game</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-03" title="construction">
                            <img alt="construction-software" src="images/Python.PNG">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Guessing Game</h5>
                                    <p>C# bisection-algorithm project translated to Python</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-04" title="construction">
                            <img alt="construction-software" src="~/images/04-thumbnail.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Business Venture</h5>
                                    <p>Small business venture</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-05" title="construction">
                            <img alt="construction-software" src="images/MainProj.PNG">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>MainProject</h5>
                                    <p>Quick-Fix ASP.net Core 3.0 application still under construction.</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-06" title="construction">
                            <img alt="construction-software" src="images/Tracker.PNG">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Vehicle Service Tracker</h5>
                                    <p>Pending minor bug-fixes</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-07" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-08" title="construction">
                            <img alt="construction-software" src="images/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Future Projects</h5>
                                    <p>Future Projects</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>  <!-- item end -->
            </div> <!-- portfolio-wrapper end -->
        </div> <!-- twelve columns end -->
        <!-- Modal Popup
         --------------------------------------------------------------- -->
        <div id="modal-01" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Project-Prototype</h4>
                <p>My first design concept of the pending - Main Project</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/ZRHerr/PersonalProjects/tree/master/ProjectPrototype" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-01 End -->
        <div id="modal-02" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/SpaceGame2.PNG" alt="construction" />
            <div class="description-box">
                <h4>Some Guys' Sky</h4>
                <p>First Ever complete console application; Needs refactoring, but been hesitant on doing it because its a milestone for me I refer back to in order to see my improvement tangibly</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/ZRHerr/PersonalProjects/tree/master/SpaceGameProj" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-02 End -->
        <div id="modal-03" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/Python2.PNG" alt="construction" />
            <div class="description-box">
                <h4>Remake of my C# bisection algorithm</h4>
                <p>First remake of a project translating C# - Python</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/ZRHerr/PersonalProjects/tree/master/Python%20Game" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-03 End -->
        <div id="modal-04" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="~/images/04-thumbnail.jpg" alt="construction" />
            <div class="description-box">
                <h4>Wide-Screen Clean Auto Detailing</h4>
                <p>Very successful venture, originally aimed at collecting data and testing myself in a new environment, in preparation to seperate from the Marine Corps. Ended up in a very challenging but enjoyable and profitable experience.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="https://www.facebook.com/DetailingPhilosopher/" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-04 End -->
        <div id="modal-05" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Main Project</h4>
                <p>C# OOP MVC Architectural Design Pattern ASP.NET Core 3.0 ASP.NET CORE Identity LINQ MSSQL Html &CSS JavaScript.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/ZRHerr/PersonalProjects/tree/master/MainProject" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-05 End -->
        <div id="modal-06" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Vehicle Details Tracker</h4>
                <p>Reusable Template for tracking information : Specifically Vehicle information - I intend to implement this into my Main Project in the near future</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/ZRHerr/PersonalProjects/tree/master/TrackerTemplate" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-06 End -->
        <div id="modal-07" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-07 End -->
        <div id="modal-08" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/m-construction-software.jpg" alt="construction" />
            <div class="description-box">
                <h4>Future Projects</h4>
                <p>TODO:::::.</p>
                <span class="categories"><i class="fa fa-tag"></i>Future Projects</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-08 End -->

    </div> <!-- row End -->
</section>
<!-- Portfolio Section End-->
