@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="contact-clean" style="background-color: rgb(46,59,74);">
    <form method="post" style="background-color: rgb(41,44,47);color: rgb(254,255,255);">
        <h2 class="text-center">Contact us</h2>
        <div class="form-group"><input type="text" class="form-control" name="name" placeholder="Name" /></div>
        <div class="form-group"><input type="email" class="form-control is-invalid" name="email" placeholder="Email" /><small class="form-text text-danger">Please enter a valid email address.</small></div>
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
        <div class="form-group"><button class="btn btn-primary" type="submit" style="background-color: rgb(46,59,74);">send </button></div>
    </form>
</div>

