@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="d-flex flex-shrink-1" id="site-cover" style="background-image:url(../images/Header.jpg);background-position: center;background-size: cover;">
    <div data-bs-hover-animate="pulse" id="site-meme" style="background-position: top;">
        <h1 class="text-uppercase text-center" id="meme-first-line">Quality, dependable</h1>
        <h1 class="text-uppercase text-center" id="meme-second-line">plumbing services</h1>
        <h1 class="text-uppercase text-center" id="meme-third-line">servicing the Des Moines area</h1>
        <h1 class="text-uppercase text-center" id="meme-fourth-line">call today!</h1>
    </div>
</div>
<div style="text-align:center;">
    <h2 class="divider-style"><span>Family Owned &amp; Operated</span></h2>
</div>
<section style="margin-top: 20px;">
    <div class="d-flex flex-row multiple-item-slider">
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img" src="~/images/square9.jpg" alt="alt text here" style="background-image: url(&quot;assets/img/square1.jpg&quot;);" width="1500">
                <figcaption class="figure-caption">Caption</figcaption>
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/square2.jpg" alt="alt text here" width="1500">
                <figcaption class="figure-caption">Caption</figcaption>
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img" src="~/images/square3.jpg" alt="alt text here" width="1500">
                <figcaption class="figure-caption">Caption</figcaption>
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img" src="~/images/square6.jpg" alt="alt text here" width="1500">
                <figcaption class="figure-caption">Caption</figcaption>
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img" src="~/images/square4.jpg" alt="alt text here" width="1500">
                <figcaption class="figure-caption">Caption</figcaption>
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img" src="~/images/square5.jpg" alt="alt text here" width="1500">
                <figcaption class="figure-caption">Caption</figcaption>
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img" src="~/images/square7.jpg" alt="alt text here" width="1500">
                <figcaption class="figure-caption">Caption</figcaption>
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img d-flex" src="~/images/square8.jpg" alt="alt text here" width="1500">
                <figcaption class="figure-caption">Caption</figcaption>
            </figure>
        </div>
    </div>
</section>
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <img class="rounded-circle img-fluid mb-3" src="~/images/Amber.jpg" style="background-image: url(&quot;assets/img/Amber.jpg&quot;);">
                    <h5>Amber Dominguez</h5>
                    <p class="font-weight-light mb-0">
                        "We had our kitchen pipes freeze and was recommended by a friend. They arrived within 30 minutes and saved us such a headache. They discovered the hot water line had ruptured and if it had thawed we would have had wall and electrical
                        damage on top of that. They got us all fixed up and we are definitely happy with the services!"
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <img class="rounded-circle img-fluid mb-3" src="~/images/Gina.jpg">
                    <h5>Gina Scheetz</h5>
                    <p class="font-weight-light mb-0">"I had Orville do so work at my place. He was respectful, polite and affordable!&nbsp;Highly recommend! 5 Stars!!!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <img class="rounded-circle img-fluid mb-3" src="~/images/Linda.jpg">
                    <h5>Linda McKelvey</h5>
                    <p class="font-weight-light mb-0">"Orville provided prompt&nbsp;professional service. He worked quickly and answered all questions we had.&nbsp;He has 30 day guarantee on all work and we will call him for any future work."</p>
                </div>
            </div>
        </div>
    </div>
</section>
