@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="d-flex flex-shrink-1" id="site-cover" style="background-image:url(../images/Header.jpg);background-position: center;background-size: cover;">
    <div data-bs-hover-animate="pulse" id="site-meme" style="background-position: top;">
        <h1 class="text-uppercase text-center" id="meme-first-line">Quality, dependable</h1>
        <h1 class="text-uppercase text-center" id="meme-second-line">plumbing services</h1>
        <h1 class="text-uppercase text-center" id="meme-third-line">servicing the Des Moines area</h1>
        <h1 class="text-uppercase text-center" id="meme-fourth-line">call today!</h1>
    </div>
</div>
<div style="text-align:center;">
    <h2 class="divider-style"><span>Family Owned &amp; Operated</span></h2>
</div>
<section style="margin-top: 20px;">
    <div class="d-flex flex-row multiple-item-slider">
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work1.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work2.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work3.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work4.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work5.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work6.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work7.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work8.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work9.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work10.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work11.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work12.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work13.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work14.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work15.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work16.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work17.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work18.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work19.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work20.png" alt="alt text here">
            </figure>
        </div>
        <div class="justify-content-center spacer-slider">
            <figure class="figure">
                <img class="img-fluid figure-img mx-auto d-block" src="~/images/work21.png" alt="alt text here">
            </figure>
        </div>
    </div>
</section>

<div class="row" style="margin:0px;padding:20px;">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="padding:0px;">
        <div style="background-image:url(../images/sponsorship.png);height:50vh;background-repeat:no-repeat;background-size:cover;background-position:center;"></div>
    </div>
    <div class="w-100 d-sm-block d-md-none d-lg-none d-xl-none"></div>
    <div class="col" style="padding:0px;">
        <div class="card">
            <div class="card-body" style="height:50vh;">
                <h4 class="card-title">Proud Sponsor</h4>
                <h6 class="text-muted card-subtitle mb-2">SEDM Boxing Club and DSM Avengers Baseball Club</h6>
                <p class="card-text">Sponsoring community events is one of the many ways we try to give back, please feel free to reach out for future sponsorship opportunities.</p><a class="card-link" href="https://www.facebook.com/sedmboxing">SEDM Boxing</a><a class="card-link" href="https://www.facebook.com/DSMAvengers/">DSM Avengers</a>
            </div>
        </div>
    </div>
</div>


