@page
@model ReviewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
    <section class="testimonials text-center" style="background-color: rgb(46,59,74);">
        <div class="container">
            <h2 class="mb-5" style="color:white">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-4" style="color:white">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0" style="color:white">
                        <img class="rounded-circle img-fluid mb-3" src="~/images/Amber.jpg">
                        <h5 style="color:white">Amber Dominguez</h5>
                        <p class="font-weight-light mb-0" style="color:white">
                            "We had our kitchen pipes freeze and was recommended by a friend. They arrived within 30 minutes and saved us such a headache. They discovered the hot water line had ruptured and if it had thawed we would have had wall and electrical
                            damage on top of that. They got us all fixed up and we are definitely happy with the services!"
                        </p>
                    </div>
                </div>
                <div class="col-lg-4" style="color:white">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0" style="color:white">
                        <img class="rounded-circle img-fluid mb-3" src="~/images/Gina.jpg">
                        <h5 style="color:white">Gina Scheetz</h5>
                        <p class="font-weight-light mb-0" style="color:white">"I had Orville do so work at my place. He was respectful, polite and affordable!&nbsp;Highly recommend! 5 Stars!!!"</p>
                    </div>
                </div>
                <div class="col-lg-4" style="color:white">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0" style="color:white">
                        <img class="rounded-circle img-fluid mb-3" src="~/images/Linda.jpg">
                        <h5 style="color:white">Linda McKelvey</h5>
                        <p class="font-weight-light mb-0" style="color:white">"Orville provided prompt&nbsp;professional service. He worked quickly and answered all questions we had.&nbsp;He has 30 day guarantee on all work and we will call him for any future work."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>