@page
@model ServicesModel
@{
    ViewData["Title"] = "About";
}
<div class="projects-horizontal" style="background-color: rgb(53,76,103);">
    <div class="container" style="color: rgb(255,255,255);">
        <div class="intronew">
            <h2 class="text-center">Services</h2>
            <p class="text-center" style="color: rgb(255,255,255);">
                If your home has outdated plumbing and leaky pipes or is in need of a general repair, we can help! Our plumbers will have your water running in no time. It doesn't matter if you have old or a new plumbing pipe system. Immediate help is
                on the way if you call us today. We're the area's plumbing expertswhen it comes to repairing and installing all grades of pipe.
            </p>
        </div>
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="~/images/work11.png"></a></div>
                    <div class="col">
                        <h3 class="name">Water Heaters</h3>
                        <p class="description" style="color: rgb(255,255,255);">
                            If you need immediate repairs on your water heater, or if you want a whole new water heating system, you have come to the right place! We service all kinds of water heaters, and provide emergency service when needed. You can
                            also schedule a quote with us on a brand new, energy efficient water heating system that meets your household's needs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="~/images/work1.png"></a></div>
                    <div class="col">
                        <h3 class="name">Drain Cleaning</h3>
                        <p class="description" style="color: rgb(255,255,255);">
                            Hair, toothpaste, paper products, food scraps…every day, Des Moines's households flush more solid waste into their drains than they might realize. That's why the professionals here at Down The Drain Services are here to take
                            care of all your drain cleaning needs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="~/images/work8.png"></a></div>
                    <div class="col">
                        <h3 class="name">Bathtub &amp; Shower Repair</h3>
                        <p class="description" style="color: rgb(255,255,255);">
                            When it comes to shower and bathtub repairs and renovations, there's no team better suited for the job. Quality, maintained bathtubs and showers can increase your home's value. When you put your trust in Down The Drain Services,
                            we will ensure that the job gets done to your 100% satisfaction, guaranteed.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="~/images/work15.png"></a></div>
                    <div class="col">
                        <h3 class="name">Gas Piping</h3>
                        <p class="description" style="color: rgb(255,255,255);">
                            Whether you have a leak in your gas pipes, or need a whole new gas line installed, it is paramount that you find a plumber who will do the job safely and ensure the security of your home or business. We will diagnose the source of any problems and make all the necessary fixes so your gas lines will be made to last.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="projects-horizontal" style="background-color: rgb(53,76,103);">
    <div class="container" style="color: rgb(255,255,255);">
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="~/images/work9.png"></a></div>
                    <div class="col">
                        <h3 class="name">Camera &amp; Locate</h3>
                        <p class="description" style="color: rgb(255,255,255);">
                            Down The Drain Services uses only the most up-to-date technologies when it comes to your pipes. Our Camera + Locate allows us to take a good look at the issues inside your pipes, and then we can react accordingly. There's no
                            one that does it better!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="~/images/work21.png"></a></div>
                    <div class="col">
                        <h3 class="name">Water Line Maintenance</h3>
                        <p class="description" style="color: rgb(255,255,255);">
                            A damaged or leaky water pipe can go from a small inconvenience to a terrible situation out of your control. At Down The
                            Drain Services, we have the tools and experience to handle all of your water line maintenance issues, including a whole new water line installation if needed. Most of all, we won't call it quits until you are 100% satisfied
                            with our service.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="highlight-blue" style="background-color: rgb(53,76,103);">
    <div class="container">
        <div class="intronew">
            <h2 class="text-center">We offer many more services!</h2>
            <p class="text-center">Need a plumbing service done that you don't see listed here? Give us a call today! Down The Drain Services handles all of your plumbing needs, and our technicians will be happy to help! </p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="#">Contact us</a></div>
    </div>
</div>
